.container {
    font-family: 'Plus Jakarta Sans';
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.container img{
    height: .8em;
    margin-top: 1em;
    
}

.navlinks {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 1em;

}

.navlinks li {
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8em;
    padding: .5em 2em;
    background-color: #09B4DE ;
    border-radius: .5em;
}