.container {
    background: #000000;
    color: #ffff;
    padding: 1.5em 4em;
    font-family: 'Roboto';
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}

.content ul {
    list-style: none;
}

.content h3 {
    margin: 0;
    font-size: 1em;
    font-weight: 700;
}

.content ul li {
    font-size: 0.8em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    margin: 1em 0;
}

.affordables {
    width: 40%;
}

.contact {
    width: 20%;
}
.contact li{
    display: flex;
    align-items: center;
    gap: 1em;
}
.contact li img{
    width: 1.2em;
}
.copy {
    display: flex;
    justify-content: center;
    font-size: 0.8em;
    font-weight: 400
}
.socialLink{
    display: flex;
    gap: 1em;
    align-items: center;
}


/* tab styling */
@media only screen and (max-width: 1200px) {
    .content {
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
    }

    .container {
        background: #000000;
        color: #ffff;
        padding: 0.5em;
        font-family: 'Roboto';
    }

    .affordables {
        width: 30%;
    }


}


/* Mobile styling */
@media screen and (max-width: 450px) {
    .content {
        display: flex;
        flex-wrap: wrap;
        gap: 3em;
    }

    .container {
        background: #000000;
        color: #ffff;
        padding: 0.5em;
        font-family: 'Roboto';
    }

    .affordables {
        width: 80%;
    }
}