.content {
    padding: 1em 6em;
}




.carouselContent {
    font-family: 'Khula';
     background: url('../../../Assets/carousel-background.png');

     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
       
    height: 600px;
    display: flex;
    align-items: center;
    padding: 0 3em;
    color: #ffff;
    animation: myAnim 11s ease-in-out 1;

 
}

.hideContent{
    display: none !important;
}
.yellowRoof{
    font-family: 'Khula';
    background: url('../../../Assets/yellow-roof-background.png');

    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
      
   height: 600px;
   display: flex;
   align-items: center;
   padding: 0 3em;
   color: #ffff;
   animation: myAnim 11s ease-in-out 1;

}
@keyframes myAnim {
    0% {
        transform: translateX(-100%);
      }
      25% {
        transform: translateX(0);
      }
      75% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(200%);
      }
}
.carouselButton{
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 2em 0;
    align-items: center;
}
.carouselButton div{
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    padding: none;
    border: none;
}
.carouselButton .inactive{

background: #E1E1E1;

}
.activeCarousel{

    background: #00CCFF;
}
.locations{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
    margin: 2em  0;
}
.property{
    max-width: 85%;
    margin: 4em auto;
}
.property h2{
    text-align: left;
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 2em;

}
.propertyList{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2.5em;

   
 
}

.content section {
    margin: 3em auto;
}

.content section h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    margin-top: 2em;

}
.content section .contentText{
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    margin: 1em;
 
}

.offer {
    display: flex;
    gap: 3em;
    align-items: center;
    width: 100%;
    margin: auto;
}



.offerContent h3 {
    text-align: left;
    font-size: 1.5em;
    font-weight: 500;
    margin: 0;
}
.offerContent h1{
   text-align: left !important;
   margin: 0.7em 0 !important;
}
.offer p{

color: #9A9EA7;
font-size: 0.8em;
margin: 0 !important;

}
.offerContent {
    width: 40%;
}
.offer button{

background: #00CCFF;
border-radius: 5.47917px;
padding: 0.9em 2.3em;
color: #FFFFFF;
border: none;
font-weight: 700;
margin-top: 2em;
}
.offer h6 {
    font-size: 0.8em;
    margin: 0.2em 0 0 0 !important;
}
/* 
.content a {

    color: #00CCFF;
    font-weight: 700;
    font-size: 0.8em;
    text-decoration: none;

} */
.offerImage{
    width: 50%;
}

.offerImage img {
 width: 100%;
    height: 25em;
    border-radius: 5px;
}

.inspection {
    background: rgba(0, 204, 255, 0.19);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3em 0;
}

.inspection h6 {
    margin: 0.3em 0;
}

.inspection h3 {
    margin: 0;
}

.inspection button {
    background: #121212;
    border-radius: 3.0304px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 0.8em;
    padding: 0.7em 0.5em;
    border: none;
}
.propertySection{
    background: linear-gradient(238.62deg, rgba(250, 250, 251, 0.68) 17.1%, #FAFAFB 68.94%);
border-radius: 0px 0px 159.141px 0px;
padding: 2em 4em;

}

.okbHomes{
    display: flex;
    padding:  3em;
    background: #121212;
    color: #F0F0F0;
}
.homeContent{
    color: #F0F0F0;
    padding-left: 2em;
    margin: auto;
}
.homeContent h3{
    font-weight: 400 !important;
    letter-spacing: 1px;
    line-height: 25px;
}
.homeContent p{
    letter-spacing: 1px;
    line-height: 25px;
}
.learnMore {
    width: 100%;
    margin-left: 20px;
    margin-top: 2em;

}
.learnMore h2{
    font-weight: 400;
    font-size: 1em;
    color: #00CCFF;
}
.learnMore .border{
    width: 10em;
    height: 3px;
    margin-left: 20px;
    background: #00CCFF;
}
.testimonals{
    margin: 5em 0 0 0 ;
}
.testimonals h3{
   text-align: center;
   color: #00CCFF;
   font-size: 1em;
   margin: 0;
}
.testimonals h1{
    margin: 0.5em 0 !important;
}
.showContent{
    display: block;
}



.agent{
    display: flex;
    align-items: center;
    max-width: 80%;
    margin: 6em auto;
}
.agentImage{
    position: relative;

}
.stickyTop{
    position: absolute;
    top: 0%;
    background: #FFFFFF;
border: 1.41979px solid rgba(51, 51, 51, 0.1);
box-shadow: 0px 0px 47.3264px rgba(112, 101, 240, 0.2);
border-radius: 7.57222px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 1.5em 2em;
gap: 1em;
left: -20%;
top: 10%;
}
.stickyBottom{
    position: absolute;
    top: 0%;
    background: #FFFFFF;
border: 1.41979px solid rgba(51, 51, 51, 0.1);
box-shadow: 0px 0px 47.3264px rgba(112, 101, 240, 0.2);
border-radius: 7.57222px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 1.5em 2em;
gap: 1em;

left: 10%;
right: 10%;
top: 90%;
}
.agentImage h4{
    font-size: 1em ;
    margin: 0.5em 0;
}
.agentImage p{
    color: #4D5461;
    font-weight: 400;
    font-size: 1em;
    margin: 0;
}



.agentContent{
    padding: 0 2em;
}
.agentContent h2{

color: #000929;
font-weight: 700;
font-size: 2em;
margin: 1em 0;
}
.agentContent p{

color: #6C727F;
font-weight: 400;
font-size: 1em;
margin: 0;
line-height: 25px;
}
.agentContent .button{

background: #00CCFF;
border-radius: 3px;
padding: 0.5em 2em;
color: #FFFFFF;
border: none;
font-weight: 700;
font-size: 1em;
margin-top: 2em;
}
.glowButton{
    
    background: #FFFFFF;
    border: 1.89306px solid rgba(14, 8, 84, 0.04);
    box-shadow: 0px 2.83958px 37.8611px rgba(14, 8, 84, 0.05);
    border-radius: 5.67917px;
    padding:1em 2em ;
    font-size: 1em;

color: #00CCFF;
font-weight: 700;
}



.partners{
    max-width: 80%;
    margin: auto;
    text-align: center;
    margin: 8em auto ;
}
.partners h2{
    font-size: 2em;
}
.partners p{
    font-weight: 400;
font-size: 1em;
line-height: 30px;


text-align: center;

color: #5A5E51;

}
.partnersList{
    display: flex;
    justify-content: center;
    gap: 2em;
    align-items: center;
    margin: 2em auto;
}
.partnersList img{
    width: 15%;
}


.principle{
    text-align: center;
    margin: 6em auto;
}
.principle h2 {

color: #121212;
font-size: 2em;
}
.principle p{
    color: #121212;
    font-weight: 400;
    font-size: 1em;
    line-height: 30px;
}
.principlesList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3em;
    grid-row-gap: 5em;
    margin: 3em auto;
}
.light{

background: #F7F7FD;
border-radius: 2px;
padding: 1em;
text-align: left;
}
.dark{

background: #121212;
border-radius: 2px;
padding: 1em;
text-align: left;
}
.principlesList h3{
    color: #00CCFF;
    font-size: 1em;
}
.dark p {
   color: #9EA3AE;
}
.light p{
color: 
#121212;
}






/* tab styling */
@media only screen and (max-width: 1200px) {

    .content {
        padding: 1em 2em;
    }
}


/* Mobile styling */
@media screen and (max-width: 450px) {
    .content {
        padding: 1em;
    }
}