.content {
    padding: 1em 6em;
}




.carouselContent {
    font-family: 'Khula';
     background: url('../../../Assets/carousel-background.png');

     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
       
    height: 600px;
    display: flex;
    align-items: center;
    padding: 0 3em;
    color: #ffff;
    animation: myAnim 3s ease 0s 1 normal forwards;

 
}

.hideContent{
    display: none !important;
}
.yellowRoof{
    font-family: 'Khula';
    background: url('../../../Assets/yellow-roof-background.png');

    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
      
   height: 600px;
   display: flex;
   align-items: center;
   padding: 0 3em;
   color: #ffff;
   animation: myAnim 3s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		transform: translateX(-100px);
	}

	100% {
		transform: translateX(0px);
	}
}
.carouselButton{
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 2em 0;
    align-items: center;
}
.carouselButton div{
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    padding: none;
    border: none;
}
.carouselButton .inactive{

background: #E1E1E1;

}
.activeCarousel{

    background: #00CCFF;
}
.locations{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
    margin: 2em  0;
}
.property{
    max-width: 85%;
    margin: 4em auto;
}
.property h2{
    text-align: left;
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 2em;

}
.propertyList{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2.5em;

   
 
}

.content section {
    margin: 3em auto;
}

.content section h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    margin-top: 2em;

}
.content section .contentText{
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    margin: 1em;
 
}

.offer {
    display: flex;
    gap: 3em;
    align-items: center;
    width: 100%;
    margin: auto;
}



.offerContent h3 {
    text-align: left;
    font-size: 1.5em;
    font-weight: 500;
    margin: 0;
}
.offerContent h1{
   text-align: left !important;
   margin: 0.7em 0 !important;
}
.offer p{

color: #9A9EA7;
font-size: 0.8em;
margin: 0 !important;

}
.offerContent {
    width: 40%;
}
.offer button{

background: #00CCFF;
border-radius: 5.47917px;
padding: 0.9em 2.3em;
color: #FFFFFF;
border: none;
font-weight: 700;
margin-top: 2em;
}
.offer h6 {
    font-size: 0.8em;
    margin: 0.2em 0 0 0 !important;
}

.content a {

    color: #00CCFF;
    font-weight: 700;
    font-size: 0.8em;
    text-decoration: none;

}
.offerImage{
    width: 50%;
}

.offerImage img {
 width: 100%;
    height: 25em;
    border-radius: 5px;
}

.inspection {
    background: rgba(0, 204, 255, 0.19);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3em 0;
}

.inspection h6 {
    margin: 0.3em 0;
}

.inspection h3 {
    margin: 0;
}

.inspection button {
    background: #121212;
    border-radius: 3.0304px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 0.8em;
    padding: 0.7em 0.5em;
}
.propertySection{
    background: linear-gradient(238.62deg, rgba(250, 250, 251, 0.68) 17.1%, #FAFAFB 68.94%);
border-radius: 0px 0px 159.141px 0px;
padding: 2em 4em;

}
.featuredProp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.prop {
    max-width: 23%;
    height: 25em;
    background: #FFFFFF;
    box-shadow: 1px 2px 10px 0px rgba(173, 170, 170, 0.75);
    -webkit-box-shadow: 1px 2px 10px 0px rgba(173, 170, 170, 0.75);
    -moz-box-shadow: 1px 2px 10px 0px rgba(173, 170, 170, 0.75);
    border-radius: 3.73479px;
}

.propImage img {
    width: 100%;
    height: 11em;
    border-top-right-radius: 3.73479px;
    border-top-left-radius: 3.73479px;
}

.propImage {
    border-top-right-radius: 3.73479px;
    border-top-left-radius: 3.73479px;
}

.propContent {
    padding: 0.3em 0.8em;
}

.propHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.propHeader h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    margin: 0;

    color: #333333;

}

.propHeader h5 {

    font-style: normal;
    font-weight: 700;
    font-size: 0.7em;
    color: #9EA3AE;
    margin: 0;


}

.propContent h5 span {

    color: #00CCFF;
}

.propDescription p {
    font-style: normal;
    font-weight: 400;
    font-size: 0.9em;
    margin: 0.5em 0;

    color: #433E44;
}

.propDescription ul {
    list-style: none;
    padding-left: 0;
}

.propDescription ul li {
    display: flex;
    align-items: center;
    column-gap: 1em;

}

.propDescription ul li p {
    margin: 0.2em;
}

.propDescription ul li p span {
    color: #6C727F;
}

.propDescription button {
    background: #00CCFF;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 0.5em 1em;
    border: none;

}
.okbHomes{
    display: flex;
    padding:  3em;
    background: #121212;
    color: #F0F0F0;
}
.homeContent{
    color: #F0F0F0;
    padding-left: 2em;
    margin: auto;
}
.homeContent h3{
    font-weight: 400 !important;
    letter-spacing: 1px;
    line-height: 25px;
}
.homeContent p{
    letter-spacing: 1px;
    line-height: 25px;
}
.learnMore {
    width: 100%;
    margin-left: 20px;
    margin-top: 2em;

}
.learnMore h2{
    font-weight: 400;
    font-size: 1em;
    color: #97BE03;
}
.learnMore .border{
    width: 10em;
    height: 3px;
    margin-left: 20px;
    background: #97BE03;;
}
/* tab styling */
@media only screen and (max-width: 1200px) {

    .content {
        padding: 1em 2em;
    }
}


/* Mobile styling */
@media screen and (max-width: 450px) {
    .content {
        padding: 1em;
    }
}